{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "wp": "readonly",
    "localizePx": "readonly",
    "pxIconPrefix": "readonly",
    "pxApiSettings": "readonly"
  },
  "plugins": [],
  "rules": {
    "max-len": 0,
    "linebreak-style": 0,
    "no-alert": "off",
    "no-param-reassign": [2, { "props": false }],
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": false,
          "object": false
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "arrow-body-style": 0
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@lib", "./_lib"]
        ],
        "extensions": [".js",".jsx", ".vue"]
      }
    }
  }
}