.wp-block-quote.is-style-px-testimony,
.wp-block-quote.is-style-h-testimony
  position: relative
  border: none
  padding: var(--blockGap)
  padding-right: var(--blockWideGap)
  box-shadow: var(--shadowThin)

  &::before
    content: ""
    display: inline-block
    background: url('./quote-right.svg') no-repeat center center
    background-size: contain
    opacity: .1

    position: absolute
    top: var(--blockGap)
    right: var(--blockGap)
    width: 2rem
    height: 2rem

  cite
    font-style: normal
    color: var(--base)
    opacity: 1
    line-height: 1.5
  
    strong
      display: block
    img
      float: left
      object-fit: cover
      object-position: center center
      max-width: 2.5rem
      max-height: 2.5rem
      margin-right: 0.5rem
      border-radius: 50%

  &.has-text-align-right
    padding: var(--blockGap)
    padding-left: var(--blockWideGap)

    &::before
      right: auto
      left: var(--blockGap)

    cite img
      float: right
      margin-right: 0
      margin-left: 0.5rem
  
  &.has-text-align-center
    cite img
      float: none
      margin: 0
      margin-bottom: 0.5rem