
///// PARAGRAPH

.editor-styles-wrapper
  > *
    font-family: var(--fontFamily, sans-serif)
    font-size: var(--fontSize, 16px)
    font-weight: var(--fontWeight, 400)
    line-height: var(--lineHeight, 1.65)
    color: var(--text, #333)
  
  p:first-child
    margin-top: 0
  p
    margin-bottom: 0

p.has-drop-cap:first-letter
  font-size: 6rem
  line-height: 4.5rem
p.has-background
  border-radius: var(--gRadius)
  padding: 0.75rem 1rem

///// HEADING

[data-type="core/heading"]
  border-radius: var(--gRadius)

.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter
  font-family: var(--hFontFamily, sans-serif)
  font-weight: var(--hFontWeight, 700)
  text-transform: var(--hTextTransform, initial)
  line-height: var(--hLineHeight, 1.25)
  margin-bottom: 0

.editor-styles-wrapper
  h1
    font-size: var(--h1Size, 46px)
  h2
    font-size: var(--h2Size, 38px)
  h3
    font-size: var(--h3Size, 30px)
  h4
    font-size: var(--h4Size, 24px)
  h5
    font-size: var(--h5Size, 20px)
  h6
    font-size: var(--h6Size, 16px)

div.editor-styles-wrapper [data-type="core/heading"]
  clear: both

  &:first-child
    margin-top: 0

  &.has-background
    padding: 1rem 1.5rem

  sub,
  sup
    letter-spacing: 0.05em
    font-size: 50%

///// LIST

[data-type="core/list"]
  padding-left: 1.5rem
  ol
    list-style-type: lower-alpha

  &.has-background
    padding: 1rem 1.5rem
    padding-left: 2.5rem

  &.aligncenter
    display: flex
    flex-direction: column
    align-items: center

///// CODE

pre.wp-block-code
  background-color: rgba(black, 0.05)

  code
    background-color: transparent


///// TABLE

.wp-block-table
  display: flex
  flex-direction: column
  overflow-x: auto
  margin-top: var(--blockGap)
  margin-bottom: var(--blockGap)

  table
    --_stripeBg: #{rgbA(var(--bgColorRGB, var(--grayRGB)), .1)}
    --_border: rgbA(var(--baseRGB), .2)

    border-collapse: collapse
    border-spacing: 0
    color: var(--base)

  thead,
  tfoot
    background-color: var(--bgColor, rgbA(var(--grayRGB), .2))
    color: var(--textColor, var(--base))
    font-weight: 700
    text-align: left

  thead
    border-bottom: 2px solid var(--base)
  tfoot
    border-top: 2px solid var(--base)
  tbody
    background-color: var(--baseInv)
    color: var(--base)

  th, td
    padding: 0.5rem 1rem
    border-top: 1px solid var(--_border)
    border-bottom: 1px solid var(--_border)
    border-left: 1px dashed var(--_border)
    border-right: 1px dashed var(--_border)

  &.is-style-stripes
    td, th
      border-color: var(--_border)

    tbody tr:nth-child(odd)
      background-color: var(--baseInv)
    tbody tr:nth-child(even)
      background-color: var(--_stripeBg)

///// QUOTE

.wp-block-quote
  padding: 0.5rem 1rem
  border-left: 4px solid

  &.has-color-1-light-background-color,
  &.has-color-1-lighter-background-color,
  &.has-color-1-lightest-background-color
    border-color: var(--color1)
  &.has-color-2-light-background-color,
  &.has-color-2-lighter-background-color,
  &.has-color-2-lightest-background-color
    border-color: var(--color2)

  &.has-background
    border-radius: 0 0.25rem 0.25rem 0

  &.has-text-align-right
    border-left: none
    border-right: 4px solid
    border-radius: 0.25rem 0 0 0.25rem

  &.has-text-align-center
    border: none
    padding: 1rem
    border-radius: 0.25rem

    &::before
      content: ""
      position: absolute
      top: 0
      width: 100px
      height: 4px
      background-color: currentColor
      transform: translateX(-50%)
      border-radius: 0.25rem

  &.has-background
    padding-top: 0.75rem
    padding-bottom: 0.75rem
    padding-right: 0.75rem

  cite
    margin-top: 0.5rem
    font-size: var(--sFontSize)
    opacity: .5